@model IEnumerable<ProyectoBanco.Entities.UsuarioEnt>

@{
    ViewBag.Title = "Cuenta";
    Layout = "~/Views/Shared/_Layout - Cuenta.cshtml";
}


<br>
<br><br><br><br><br><br><br><br><br>
<br>

<div class="row">
    <div class="col-12">

        @if (ViewBag.MsjPantalla != null)
        {
            <div style="text-align:center" class="alert alert-warning" role="alert">
                @ViewBag.MsjPantalla
            </div>
        }

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>NombreUsuario</th>
                    <th>ApellidoUsuario</th>
                    <th>Correo</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Editar</th>
                </tr>
            <thead>
            <tbody>
                    <tr>
                        <td>@Session["NombreUsuario"].ToString()</td>
                        <td>@Session["ApellidoUsuario"].ToString()</td>
                        <td> @Session["Correo"].ToString()</td>
                        <td>@Session["Direccion"].ToString()</td>
                        <td> @Session["Telefono"].ToString()</td>

                        <td>
                            <a href="@Url.Action("Editar", "Usuario")">Editar Datos</a>
                        </td>
                    </tr>
                
            </tbody>
        </table>

    </div>
</div>
